
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


/*Estilos e modificações feitas na tela de Login */

body{
margin: 0;
font-family: 'Noto Sans', sans-serif;
}

body * {
box-sizing: border-box;
}

.main-login{            /* div principal(div que engloba a div esquerda e direita) */
width: 100vw;
height: 100vh;
background: #ade28a;
display: flex;
justify-content: center;
align-items: center;
}

.left-login{
width: 50vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.left-login > img{

} 

.left-login > h1 {
color: #808000;
}

.right-login{
width: 50vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.card-login{                    /*    Formulário de login.  */
width: 60%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 30px 35px;
background: #1e425e;
border-radius: 20px;            /* Borda do formulário */
box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {

color: #fffafa;
font-weight: 800;
margin: 0;

}

.textfield{                         /* Estruturas dos textfields*/
width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
margin: 10px 0px;
}

.textfield > input{                 /* Edição dos textfields*/
width: 100%;
border: none;
border-radius: 10px;
padding: 15px;
background: #aedfe4;
color: #2b134b;
font-size: 12pt;
box-shadow: 0px 10px 40px #00000056;
outline: none;
box-sizing: border-box;
}

.textfield > label{
color: #fffafa;
margin-bottom: 10px;
}

.textfield > input::placeholder{
color: #2b134b;
}

.btn-login{
width: 100%;
padding: 16px 0px;
margin: 25px;
border: none;
border-radius: 8px;
outline: none;
text-transform: uppercase;
font-weight: 800;
letter-spacing: 3px;
color: #2b134b;
background-color: #00ff88;
cursor: pointer;
box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px){
.card-login{
    width: 85%;
}
}

@media only screen and (max-width: 950px){
.main-login{
    flex-direction: column;
}
.left-login > h1{
    display: center;
}   

/*Alterações para a imagem responsiva*/




/*Alterações para a imagem responsiva*/

.right-login{
    width: 100%;
    height: auto;
}

.card-login{
    width: 90%;
}
/*Estilos e modificações feitas na tela de Login */

}

/* Slider */

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position:relative;

}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
}

.main-btn {
    background-color: #65daf9;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover{
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #65DAF9;
}

.carousel-indicators .active {
    background-color: #65DAF9;
}
