
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


    /*Estilos e modificações feitas na tela de Login */

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}


.main-login{            /* div principal(div que engloba a div esquerda e direita) */
    width: 100vw;
    height: 100vh;
    background: #ade28a;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.logo{
    
    padding-top: 3px;
    display:flex;
}    

.left-login > h1 {
    color: #808000;
    height: 50px;
}


.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{                    /*    Formulário de login.  */
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #1e425e;
    border-radius: 20px;            /* Borda do formulário */
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {

    color: #fffafa;
    font-weight: 800;
    margin: 0;

}

.textfield{                         /* Estruturas dos textfields*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{                 /* Edição dos textfields*/
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #aedfe4;
    color: #2b134b;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #fffafa;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #2b134b;
}

.cabecalho > header{
    height: 100px;
    display:flex;
    
    justify-content: space-between;
    background-color: #1e425e;
    box-shadow: 0px 150px 40px #00000056; 


}



ul{
    height: 30px;
    display:flex;
    margin: 20px;
}
li{

    color: #fffafa;
    list-style-type: none;
    cursor: pointer;
    padding: 20px;
    transition: transform .2s;
}
li:hover{
    transform: scale(1.5);
}


li a {
    color: #fffafa;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;

}

.animation-login{
    width: 32vw;
    height: 59vw;
    display:flex;

    
}
.right-menu > h2{
    text-align: right;
}



.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
.conta{
    font-size: small;
    position: absolute;
    height: -0vh;
}

footer{
    position: absolute;
    bottom: -478px;
    width: 100%;
    height: 2.5rem;
    background: #1e425e;
    height: auto;
    width: 100vw;
    padding: 40px;
    display: flex;
}

.conteudo-footer{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.conteudo-footer h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: #fffafa;
}
.conteudo-footer h2{
    color: #fffafa;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.conteudo-footer{
    width: 100vw;
    height: 20;
    margin: 10 px auto;
    line-height: 28px;
    font-size: 14px;
    align-items: center;
}
.midia-social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.midia-social li{
    margin: 0 10px;

}
.midia-social{
    text-decoration: none;
    color: #fffafa;
}
.midia-social a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.midia-social a:hover{
    color: aqua;
    
}

.fotter-bottom{
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.fotter-bottom p {
    font-size: 3px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #fffafa;
}

.fotter-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200px;

}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 950px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: center;
    }   

    /*Alterações para a imagem responsiva*/



    /*Alterações para a imagem responsiva*/

    .right-login{
        width: 100%;
        height: auto;
    }

    .card-login{
        width: 90%;
    }
    /*Estilos e modificações feitas na tela de Login */

}